.TodoList {

}

.TodoList .todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoList .search-wrapper {
  position: relative;
}

.TodoList .search-wrapper > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0;
  margin-bottom: 20px;
}

.TodoList .search-wrapper > input:focus {
  outline: none;
  border-bottom: 1px solid #1f93ff;
}

.TodoList .search-wrapper .icon {
  position: absolute;
  padding: 10px;
  margin-top: 5px;
  right: 0;
  color: gray;
}

.TodoList .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TodoList .todo-state {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.TodoList .todo-state > div:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid gray;
}

.TodoList .todo-state span {
  font-weight: bold;
}